<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('List Subzona'), ['action' => 'index']) ?></li>
    </ul>
</div>
<div class="subzona form large-10 medium-9 columns">
    <?= $this->Form->create($subzona) ?>
    <fieldset>
        <legend><?= __('Add Subzona') ?></legend>
        <?php
            echo $this->Form->input('zona_id');
            echo $this->Form->input('name');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
