<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('Afegir Subzona'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('Tornar a Zones'), ['controller'=>'Zona','action' => 'index']) ?></li>
    </ul>
</div>
<div class="subzona index large-10 medium-9 columns">
    <table cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <th><?= $this->Paginator->sort('id') ?></th>
            <th><?= $this->Paginator->sort('zona_id') ?></th>
            <th><?= $this->Paginator->sort('name') ?></th>
            <th><?= $this->Paginator->sort('created') ?></th>
            <th><?= $this->Paginator->sort('modified') ?></th>
            <th class="actions"><?= __('Actions') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($subzona as $subzona): ?>
        <tr>
            <td><?= $this->Number->format($subzona->id) ?></td>
            <td><?= $subzona->zona->name ?></td>
            <td><?= h($subzona->name) ?></td>
            <td><?= h($subzona->created) ?></td>
            <td><?= h($subzona->modified) ?></td>
            <td class="actions">
                <?= $this->Html->link(__('View'), ['action' => 'view', $subzona->id]) ?>
                <?= $this->Html->link(__('Edit'), ['action' => 'edit', $subzona->id]) ?>
                <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $subzona->id], ['confirm' => __('Are you sure you want to delete # {0}?', $subzona->id)]) ?>
            </td>
        </tr>

    <?php endforeach; ?>
    </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
        </ul>
        <p><?= $this->Paginator->counter() ?></p>
    </div>
</div>
