<ion-view view-title="">
	<ion-content>
		<div class="header greencolor innerbar-layflyadema-green">
			<h1>BENVINGUTS A LAIFLYADEMA</h1>
		</div>
		<div class="row">
			<div style="width:10%;"></div>
			<div style="width:80%;">
				<p class="normaltext" style="margin-top:30px;">

					Tens contractat un sistema d’autocontrol basat en el sistema APPCC amb nosaltres ?<br/><br/>
					Amb aquesta aplicació podràs omplir els teus registres fàcilment i de manera ràpida, detectar incidències al moment i aplicar les mesures correctores corresponents.<br/><br/>
					Totes les dades es guardaran i les podràs consultar des de qualsevol lloc.<br/><br/>
					També podràs contactar directament amb el nostre servei tècnic per a qualsevol dubte que tinguis.
				</p>
			</div>
			<div style="width:10%;"></div>
		</div>
	</ion-content>
</ion-view>
