<ion-view view-title="" cache-view="false">


	<ion-content>
		<div class="header greencolor innerbar-layflyadema-green">
			<h1>INCIDENCIES</h1>
		</div>

      	<ion-list>
	        <div ng-repeat="group in listadoIncidencias">
	          	<ion-item ng-click="toggleGroup(group)"
	                      ng-class="{active: isGroupShown(group)}" class="item-text-wrap">

	              	<span class="fly-title-item">
	              		<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
	              		{{group.day}} de {{group.month}} de 20{{group.year}}
	              		<i class ="icon ion-alert-circled" style="color: red; font-size:120%;"></i>
              		</span>
	          	</ion-item>
	          	<ion-item class="item-accordion item-text-wrap"
	                    ng-repeat="item in group"
	                    ng-show="isGroupShown(group)" ng-if="item.incidencias.module.name!=null">

            		<span class="fly-title-item">
						<strong>{{item.incidencias.module.name}} - {{item.incidencias.hour}}</strong><br />
						<span style="font-size: 100%;">{{item.incidencias.local.name}}</span>
					</span>

					<ion-item
						ng-repeat="alert in item.alert track by $index"
						ng-if="alert.error===true && alert.msg!=null">

						<span style="font-size:80%;">
							{{alert.title}}<br />
							{{alert.msg}}
						</span>

					</ion-item>
	          	</ion-item>
	        </div>
      	</ion-list>


	</ion-content>
</ion-view>

<style>
	/*
	ion-item.item-accordion:nth-of-type(1n+3) {
		display: none;
	}
	*/
</style>
