<ion-nav-view>

  <div class="row" style="margin-top:60px">
    <div class="col col-20"></div>
    <div class="col col-60">
      <img src="img/logo-inicio.jpg" style="width:100%;" />
    </div>
    <div class="col col-20"></div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col col-20"></div>
    <div class="col col-60">
      <input type="text" ng-model="login.username" placeholder="Usuari" class="input-login" autocapitalize="off"/>
      <input type="password" ng-model="login.password" placeholder="Password" class="input-login" style="border-top:0 !important;" />
      <div class="button button-block greencolor" value="Entrar" ng-click="doLogin();">
        Entrar
        &nbsp;&nbsp;
        <i class="icon ion-arrow-right-c" style="padding-top:3px;"></i>
      </div>

      <div class="row" ng-show="loginError">
        <div class="col col-100">
          <p class="center text-center">Dades incorrectes</p>
        </div>
      </div>
    </div>
    <div class="col col-20"></div>
  </div>



</ion-nav-view>
