<ion-view view-title="" ng-controller="MedicioCtrl">
	<ion-content>
		<div class="header greencolor innerbar-layflyadema-green smalltitle">
			<h1>{{title}}</h1>
		</div>


		<!-- SECCIÓ 1 CLOR RESIDUAL AIGUA DE CONSUM -->
		<div ng-if="laid==1">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, procediu a fer la medició de clor residual en l'aigua de consum i desplaçeu el controlador per tal d'establir el valor exacte.</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>

				<div class="item item-text-wrap">
					<div class="item range range-positive">
						<i class="icon ion-android-remove"></i>
						<input type="range" min="0" max="400" ng-model="medicio.valor" ng-change="errorClor(medicio.valor,clor_max,clor_min,1);">
						<i class="icon ion-android-add"></i>
					</div>
				</div>

				<div class="item item-divider topmedicio">
					{{medicio.valor/100 || 0}} {{clor.extensio}}
				</div>

				<i ng-init="alertas[1]['clor'] = { error : false, title: null, msg : null,module_id : 1 };"></i>
			</div>
			<!-- END MEDICIO 1 -->

			<!-- ALERTES -->
			<div class="card" ng-if="medicio.valor<clor_min || medicio.valor>clor_max">
				<div class="item item-divider item-assertive topmedicio">
					<i class="icon ion-alert-circled"></i> ALERTA
				</div>

				<div class="item item-text-wrap">
					<p><b>Aviseu al subministrador i no useu l’aigua d’abastament per les elaboracions.</b></p>
					<p>El valor minim hauria de ser de: <b>{{clor_min/100}} {{clor.extensio}}</b></p>
					<p>El valor màxim hauria de ser de: <b>{{clor_max/100}} {{clor.extensio}}</b></p>
				</div>
			</div>
			<div ng-if="meidicio.valor>clor_min || medicio.valor<clor_max">

			</div>
			<!-- END ALERTES -->

			<div class="button button-casifull greencolor" ng-click="envia_medicio(); ">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 1 CLOR RESIDUAL AIGUA DE CONSUM -->


		<!-- SECCIÓ 2 -->
		<div ng-if="laid==2">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, procediu a fer la medició de clor lliure per la desinfecció de la fruita i verdura de consum en cru i desplaçeu el controlador per tal d'establir el valor exacte.</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>

				<div class="item item-text-wrap">
					<div class="item range range-positive">
						<i class="icon ion-android-remove"></i>
						<input type="range" min="0" max="400" ng-model="medicio.valor" ng-change="errorClor(medicio.valor,clor_max,clor_min,2);">
						<i class="icon ion-android-add"></i>
					</div>
				</div>

				<div class="item item-divider topmedicio">
					{{medicio.valor || 0}} {{clor.extensio}}
				</div>

				<i ng-init="alertas[2]['clor']={error: false, title: null, msg: null, module_id: 2}"></i>

			</div>
			<!-- END MEDICIO 1 -->

			<!-- ALERTES -->
			<div class="card" ng-if="medicio.valor<clor_min || medicio.valor>clor_max">
				<div class="item item-divider item-assertive topmedicio">
					<i class="icon ion-alert-circled"></i> ALERTA
				</div>

				<div class="item item-text-wrap">
					<p><b>Aviseu l’empresa responsable del dispensador</b></p>
					<p>El valor minim hauria de ser de: <b>{{clor_min}} {{clor.extensio}}</b></p>
					<p>El valor màxim hauria de ser de: <b>{{clor_max}} {{clor.extensio}}</b></p>
				</div>

				
			</div>
			<div ng-if="medicio.valor>clor_min || medicio.valor<clor_max">
				
			</div>
			<!-- END ALERTES -->

			<div class="button button-casifull greencolor" ng-click="envia_medicio(); ">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 2 -->


		<!-- SECCIÓ 3 -->
		<div ng-if="laid==3">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, procediu a fer la medició de temperatures dels equips de fred. Desplaçeu els controladors per tal d'establir els valors exactes.</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div ng-repeat="tmp in temps">
				<div class="card">
					<div class="item item-divider item-text-wrap topmedicio">
						{{tmp.nom}}
					</div>

					<div class="item item-text-wrap">
						<div class="item range range-positive">
							<i class="icon ion-android-remove"></i>
							<input type="range" min="{{temps[$index].minima-5}}" max="{{temps[$index].maxima+5}}" ng-model="medicio.temp[$index].valor" value="{{(temps[$index].maxima+temps[$index].minima)/2}}" ng-change="errorTemp(medicio.temp[$index].valor,temps[$index].maxima,temps[$index].minima,$index,tmp.nom);">
							<i class="icon ion-android-add"></i>
						</div>
					</div>

					<i ng-init="alertas[3]['equip'+index] = { error : false, title: null, msg : null,module_id : 3 };"></i>

					<i ng-init="medicio.temp[$index].name = tmp.nom;"></i>

					<div class="item item-divider topmedicio">
						{{medicio.temp[$index].valor || 0}} {{extensio}}
					</div>
				</div>
				<!-- END MEDICIO 1 -->

				<!-- ALERTES -->
				<div class="card" ng-if="medicio.temp[$index].valor<temps[$index].minima || medicio.temp[$index].valor>temps[$index].maxima">
					<div class="item item-divider item-assertive topmedicio">
						<i class="icon ion-alert-circled"></i> ALERTA
					</div>
					<div class="item item-text-wrap">
						<p><b>Aviseu a manteniment</b></p>
						<p>El valor minim hauria de ser de: <b>{{temps[$index].minima}} {{extensio}}</b></p>
						<p>El valor màxim hauria de ser de: <b>{{temps[$index].maxima}} {{extensio}}</b></p>
					</div>
				</div>
				<!-- END ALERTES -->
			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 3 -->


		<!-- SECCIÓ 4 -->
		<div ng-if="laid==4">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, procediu respondre les preguntes per tal de fer control de l'emmagatzematge d'aliments dins dels equips de fred.</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap">
					<center>Es sobrepassen els límits de carrega dels equips de fred?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.limits" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.limits==false">
					<span >No</span>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.limits==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>
					<center><span>
						Mireu de reduïr el volum de càrrega.
					</span></center>
					<i ng-init="alertas[4]['limits']={error: true, title: 'Es sobrepassen els límits de carrega dels equips de fred.', msg: 'Mireu de reduïr el volum de càrrega', module_id: 4}"></i>
				</div>
				<div ng-if="medicio.limits==false">
					<i ng-init="alertas[4]['limits']={error: false, title: null, msg: null, module_id: 4}"></i>
				</div>
			</div>


			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han aliments sense cap mena de protecció?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.senseproteccio" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.senseproteccio==false">
					<span >No</span>
					<i ng-init="alertas[4]['senseproteccio']={error: false, title: null, msg: null, module_id: 4}"></i>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.senseproteccio==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>
					<i ng-init="alertas[4]['senseproteccio']={error: true, title: 'Es sobrepassen els límits de carrega dels equips de fred.', msg: 'Mireu de reduïr el volum de càrrega', module_id: 4}"></i>
					<center><span>
						Protegiu els aliments amb: tapes, paper film...
					</span></center>

				</div>

			</div>


			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han plats preparats amb antelació sense dates d’elaboració marcades?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.preparats" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.preparats==false">
					<span >No</span>
					<i ng-init="alertas[4]['sensedata']={error: false, title: null, msg: null, module_id: 4}"></i>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.preparats==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>
					<i ng-init="alertas[4]['sensedata']={error: true, title: 'Hi han plats preparats amb antelació sense dates d’elaboració marcades', msg: 'Si us plau, marqueu les dates d\'el·laboració', module_id: 4}"></i>
					<center><span>
						Si us plau, marqueu les dates d'el·laboració.
					</span></center>

				</div>

			</div>


			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han aliments retirats dels seus envasos d’origen, aliments destinats al tall sense cap mena d’etiquetatge?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.etiqueta" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.etiqueta==false">
					<span >No</span>

					<i ng-init="alertas[4]['senseetiqueta']={error: false, title: null, msg: null, module_id: 4}"></i>

				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.etiqueta==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Heu de conservar les etiquetes fins al consum de l’aliment
					</span></center>

					<i ng-init="alertas[4]['senseetiqueta']={error: true, title: 'Hi han aliments retirats dels seus envasos d’origen, aliments destinats al tall sense cap mena d’etiquetatge.', msg: 'Heu de conservar les etiquetes fins al consum de l’aliment', module_id: 4}"></i>

				</div>

			</div>



			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han aliments en fase de descongelació sense dates de descongelació?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.descon" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.descon==false">
					<span >No</span>
					<i ng-init="alertas[4]['descongelantse']={error: false, title: null, msg: null, module_id: 4}"></i>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.descon==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Heu de marcar les dates de descongelació.
					</span></center>
					<i ng-init="alertas[4]['descongelantse']={error: true, title: 'Hi han aliments en fase de descongelació sense dates de descongelació.', msg: 'Heu de marcar les dates de descongelació.', module_id: 4}"></i>

				</div>

			</div>

			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han aliments amb les dates de caducitat o dies de vida útil superades?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.dates" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.dates==false">

					<span >No</span>

					<i ng-init="alertas[4]['caducats']={error: false, title: null, msg: null, module_id: 4}"></i>

				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.dates==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Retireu i llenceu a les escombraries els aliments amb les dates o dies de vida útil superats
					</span></center>
					<i ng-init="alertas[4]['caducats']={error: true, title: 'Hi han aliments amb les dates de caducitat o dies de vida útil superades', msg: 'Retireu i llenceu a les escombraries els aliments amb les dates o dies de vida útil superats', module_id: 4}"></i>

				</div>

			</div>

			<div class="card">

				<div class="item item-text-wrap">

					<center>Hi han aliments congelats sense data de congelació?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.sensedata" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>

				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.sensedata==false">

					<span >No</span>

					<i ng-init="alertas[4]['congelats']={error: false, title: null, msg: null, module_id: 4}"></i>

				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.sensedata==true">

					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>Si us plau, indiqueu de quin equip es tracta:</span></center>

					<label class="item item-input item-select" style="margin-top:10px;">
						<div class="input-label">
						&nbsp;&nbsp;
						</div>
						<select ng-model="medicio.cambrasensedata">
							<option value="0">Seleccioneu l'equip</option>
							<option ng-repeat="equipo in equipos" value="{{equipo.name}}">{{equipo.nom}}</option>
						</select>
					</label>

					<i ng-repeat="equipo in equipos">
						<i ng-if="medicio.cambrasensedata==equipo.name">
							<i ng-init="alertas[4]['congelats']={error: true, title: 'Hi han aliments congelats sense data de congelació a: '+medicio.cambrasensedata, msg: 'Aviseu a manteniment', module_id: 4}"></i>
						</i>
					</i>


				</div>

			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 4 -->


		<!-- SECCIÓ 5 -->
		<div ng-if="laid==5">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">El <b>bon estat</b> de l’oli es determinarà pel seu color (característic) i per la seva viscositat (poc dens) i el <b>mal estat</b>, pel seu color fosc, amb poca o nula transparència, amb escuma i dens</p>

			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-divider topmedicio">
					<center>Resultat de l'oleotest:</center>
				</div>

				<div class="item range range-positive">
					<i class="icon ion-android-remove"></i>
					<input type="range" min="0" max="7" ng-model="medicio.oleotest">
					<i class="icon ion-android-add"></i>
				</div>

				<div class="item item-divider topmedicio">
					{{medicio.oleotest || 0}}
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.
				oleotest==3">

					<center><i class="icon ion-alert-circled"></i> ALERTA<br/></center><br/>

					<center><span>
						Canvieu l'oli demà.
					</span></center>

					<i ng-init="alertas[5]['oleotest']={error: true, title: 'L\'oleotest ha resultat malament.', msg: 'Canvieu l\'oli demà', module_id: 5}"></i>

				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.oleotest>3">

					<center><i class="icon ion-alert-circled"></i> ALERTA<br/></center><br/>
					<center><span>
						Canvieu l'oli inmediatament
					</span></center>
					<i ng-init="alertas[5]['oleotest']={error: true, title: 'L\'oleotest ha resultat malament i s\'ha de canviar d\'inmediat.', msg: 'Canvieu l\'oli inmediatament', module_id: 5}"></i>
				</div>
				<div ng-if="medicio.oleotest<3">
					<i ng-init="alertas[5]['oleotest']={error: false, title: '', msg: null, module_id: 5}"></i>
				</div>
			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 5 -->


		<!-- SECCIÓ 6 -->
		<div ng-if="laid==6">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, recordeu fer aquesta medició dues vegades al dia. Una al <b>migdia</b> i una altre a la <b>nit</b></p>

			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-divider topmedicio">

					<center>Temperatura d'esbandit:</center>
				</div>

				<div class="item range range-positive">

					<i class="icon ion-android-remove"></i>
					<input type="range" min="70" max="100" ng-model="medicio.esbandit">
					<i class="icon ion-android-add"></i>

				</div>

				<div class="item item-divider topmedicio">
					{{medicio.esbandit || 85}}
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.
				esbandit<75">
					<center><i class="icon ion-alert-circled"></i> ALERTA<br/></center><br/>

					<center><span>
						Aviseu a manteniment.
					</span></center>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.esbandit>=75 && medicio.esbandit<=79">
					<center><i class="icon ion-alert-circled"></i><br/></center><br/>

					<center><span>
						Torneu a posar el programa de rentat.<br/>
						Torneu a controlar la temperatura del equip i si persisteix el problema aviseu a manteniment.
					</span></center>
					<i ng-init="alertas[6]['esbandit']={error: true, title: 'Temperatura d'esbandit incorrecta: '+medicio.esbandit, msg: 'Si el problema persisteix, aviseu a manteniment.', module_id: 6}"></i>
				</div>
				<div ng-if="medicio.esbandit<75 && medicio.esbandit>79">
					<i ng-init="alertas[6]['esbandit']={error: false, title: null, msg: null, module_id: 6}"></i>
				</div>
			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 6 -->


		<!-- SECCIÓ 7 RECEPCIÓ MERCADERIA -->
		<div ng-if="laid==7">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, ompleneu les següents preguntes per tal de fer el control de mercaderies:</p>

			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<!-- RECEPCIÓ MERCADERIA: PROVEEDORES  -->
			<div class="card">
				<div class="item item-divider topmedicio greencolor">
					<i class="icon ion-briefcase"></i> &nbsp; PROVEÏDOR
				</div>

				<div class="item">
					<label class="item item-input item-select">
						<div class="input-label">
							Nom:
						</div>
						<select ng-model="medicio.proveidor" ng-change="onChangeProvider(); setLastAnswer(0);">
							<option value="0">Seleccioneu el proveïdor</option>
							<option ng-repeat="prov in proveidors" value="{{prov.id}}">{{prov.name}}</option>
						</select>
					</label>
				</div>

				<div class="item item-text-wrap" ng-if="question>0">
			  		<center>Que us serveix?</center>
					<ul class="list">
						<li class="item item-checkbox">
							<label class="checkbox checkbox-calm">
								<input type="checkbox" checked ng-model="medicio.tecongelats">
							</label>
							Productes congelats
						</li>
						<li class="item item-checkbox">
							<label class="checkbox checkbox-calm">
								<input type="checkbox" checked ng-model="medicio.tecarn">
							</label>
							Carn
						</li>
						<li class="item item-checkbox">
							<label class="checkbox checkbox-calm">
								<input type="checkbox" checked ng-model="medicio.tepeix">
							</label>
							Peix
						</li>
						<li class="item item-checkbox">
							<label class="checkbox checkbox-calm">
								<input type="checkbox" checked ng-model="medicio.tefruita">
							</label>
							Fruita i verdura
						</li>
					</ul>
				</div>

			</div>
			<!-- end RECEPCIÓ MERCADERIA: PROVEEDORES -->

			<!-- RECEPCIÓ MERCADERIA: DOCUMENTACION  -->
			<div class="card" ng-if="question>0">
				<div class="item item-divider topmedicio greencolor">
					<i class="icon ion-document-text"></i> &nbsp; DOCUMENTACIÓ
				</div>

				<div class="item item-text-wrap">
					<center>El proveïdor es d'Andorra?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.andorra" checked ng-change="setLastAnswer(1);"/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio">
					<span ng-if="medicio.andorra==true">Si</span>
					<span ng-if="medicio.andorra==false">No</span>
				</div>


				<!-- CORRESPON -->
				<div id="correspon" ng-if="question>=2">
					<div class="item item-text-wrap">
						<center>La documentació d'acompanyament comercial es correspon amb la mercaderia subministrada?</center> <br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.correspon" checked ng-change="setLastAnswer(2);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.correspon==true">
						Si
						<i ng-init="alertas[7]['correspon']={error: false, title: null, msg: null, module_id: 7}
						"></i>
					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.correspon==false" style="text-align: left;">
						<center><i class="icon ion-alert-circled"></i> NO<br/></center> <br/>

						Aviseu al proveïdor per a que envii la documentació per fax / email / altres.<br/><br/>
						No accepteu la mercaderia si no es correspon amb la sol·licitada.

						<i ng-init="alertas[7]['correspon']={error: true, title: nomproveidor+': La documentació d\'acompanyament comercial no es correspon amb la mercaderia subministrada.', msg: 'Aviseu al proveïdor per a que envii la documentació per fax / email / altres', module_id: 7, question: 2}"></i>
					</div>
				</div>
				<!-- END CORRESPON -->


				<!-- DOCUMENTACIO -->
				<div id="documentacio" ng-if="question>=3">
					<div class="item item-text-wrap">
						<center ng-if="medicio.andorra==true">
							A nivell de registre sanitari, la mercaderia compta amb el número de Registre Sanitari del Principat d'Andorra i/o segell oval?
						</center>
						<center ng-if="medicio.andorra==false">
							En cas de productes d'origen animal, s'aporta el segell oval?<br/>
							En el cas de productes d'origen no animal, s'aporta el Registre Sanitari del país d'origen?
						</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.documentacio" checked ng-change="setLastAnswer(3);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>

					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.documentacio==true">
						Si
					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.documentacio==false" style="text-align:left;">
						<center><i class="icon ion-alert-circled"></i> NO<br/></center> <br/>
						Aviseu al proveïdor d'aquesta incidencia.

						<i ng-init="alertas[7]['documentacio']={error: true, title: nomproveidor+': La mercaderia no compta amb el número de Registre Sanitari del Principat d\'Andorra i/o segell oval', msg: 'Aviseu al proveïdor d aquesta incidencia', module_id: 7, question: 3}"></i>
					</div>
	                <div ng-if="medicio.documentacio==true">
	                    <i ng-init="alertas[7]['documentacio']={error: false, title: null, msg: null, module_id: 7}"></i>
	                </div>
                </div>
				<!-- END DOCUMENTACIO -->
			</div>
			<!-- end RECEPCIÓ MERCADERIA: DOCIMENTACION  -->


			<!-- RECEPCIÓ MERCADERIA: INSPECCIÓ VISUAL DEL VEHICLE -->
			<div class="card" ng-if="question>=4">
				<div class="item item-divider item-text-wrap topmedicio greencolor">
					<i class="icon ion-eye"></i> &nbsp; INSPECCIÓ VISUAL DEL VEHICLE
				</div>

				<!-- MENTENIMENT/HIGIENE -->
				<div id="menteniment-higiene" ng-if="question>=4">
					<div class="item item-text-wrap">
						<center>L'estat de manteniment/higiene de la caixa del vehicle es deficient?</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.higiene" ng-change="setLastAnswer(4);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>

					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.higiene==false">
						NO
						<i ng-init="alertas[7]['higiene']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.higiene==true" style="text-align:left;">
						<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>
						Si us plau, rebutjeu la mercaderia afectada.

						<i ng-init="alertas[7]['higiene']={error: true, title: nomproveidor+': L\'estat de manteniment/higiene de la caixa del vehicle es deficient', msg: 'Si us plau, rebutjeu la mercaderia afectada.', module_id: 7, question: 4}"></i>
					</div>
                </div>
				<!-- END MENTENIMENT/HIGIENE -->


				<!-- BRUTS -->
				<div id="bruts" ng-if="question>=5">
					<div class="item item-text-wrap" ng-if="medicio.tecarn && medicio.tepeix">
						<center>S'observen productes frescos (carns fresques, peixos) en contacte directe amb el terra o continguts de recipients bruts?</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.bruts" ng-change="setLastAnswer(5);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.tecarn && medicio.tepeix && medicio.bruts==false">
						NO

						<i ng-init="alertas[7]['bruts']={error: false, title: null, msg: null, module_id: 7, question: 5}"></i>

					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.tecarn && medicio.tepeix && medicio.bruts==true" style="text-align:left;">
						<center><i class="icon ion-alert-circled"></i> SI<br/></center>
						<br/>
						Si us plau, rebutjeu la mercaderia afectada.
						<i ng-init="alertas[7]['bruts']={error: true, title: nomproveidor+': S\'observen productes frescos (carns fresques, peixos) en contacte directe amb el terra o continguts de recipients bruts', msg: 'Si us plau, rebutjeu la mercaderia afectada.', module_id: 7, question: 5}"></i>
					</div>
                </div>
				<!-- END BRUTS -->


				<!-- BRUTSDOS -->
				<div id="brutsDos" ng-if="question>=6">
					<div class="item item-text-wrap" ng-if="medicio.tefruita">
						<center>S'observen productes frescos (fruites i verdures) en contacte directe amb el terra?</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.brutsdos" ng-change="setLastAnswer(6);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.tefruita && medicio.brutsdos==false">
						NO
						<i ng-init="alertas[7]['brutsdos']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.tefruita && medicio.brutsdos==true">
						<i class="icon ion-alert-circled"></i> SI<br/>

						<i ng-init="alertas[7]['brutsdos']={error: true, title: nomproveidor+': S\'observen productes frescos (fruites i verdures) en contacte directe amb el terra', msg: ' ', module_id: 7, question: 6}"></i>
					</div>
				</div>
				<!-- END BRUTSDOS -->


				<!-- MESCLATEMP -->
				<div id="mesclaTemp" ng-if="question>=7">
					<div class="item item-text-wrap">
						<center>S'observa transport simultani de mercaderies que precisen de diferents temperatures de conservació (periples amb no periples; productes frescos amb congelats)?</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.mesclatemp" ng-change="setLastAnswer(7);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.mesclatemp==false">
						NO
					</div>

					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.mesclatemp==true" style="text-align:left;">
						<center><i class="icon ion-alert-circled"></i> SI<br/></center>
						<br/>
						Controleu exhaustivament les temperatures dels diferents productes i rebutjeu les mercaderies afectades.

						<i ng-init="alertas[7]['mesclatemp']={error: true, title: nomproveidor+': S\'observa transport simultani de mercaderies que precisen de diferents temperatures de conservació (periples amb no periples; productes frescos amb congelats)', msg: 'Controleu exhaustivament les temperatures dels diferents productes i rebutjeu les mercaderies afectades.', module_id: 7, question: 7}"></i>
					</div>
					<div ng-if="medicio.mesclatemp==false">
						<i ng-init="alertas[7]['mesclatemp']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END MESCLATEMP -->


				<!-- CONTAMINACIO -->
				<div id="contaminacio" ng-if="question>=8">
					<div class="item item-text-wrap">
						<center>S'observa el transport simultani de mercaderies incompatibles amb risc de contaminació creuada (carn fresca amb peix; fruites i verdures amb carn fresca)?</center>
						<br/>
						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.contaminacio" ng-change="setLastAnswer(8);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>
					<div class="item item-divider topmedicio" ng-if="medicio.contaminacio==false">
						NO
					</div>
					<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.contaminacio==true" style="text-align:left;">
						<center><i class="icon ion-alert-circled"></i> SI<br/></center>
						<br/>

						Rebutjeu les mercaderies afectades.
						<i ng-init="alertas[7]['contaminacio']={error: true, title: nomproveidor+': S\'observa el transport simultani de mercaderies incompatibles amb risc de contaminació creuada (carn fresca amb peix; fruites i verdures amb carn fresca)', msg: 'Rebutjeu les mercaderies afectades.', module_id: 7, question: 8}"></i>
					</div>
					<div ng-if="medicio.contaminacio==false">
						<i ng-init="alertas[7]['contaminacio']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END CONTAMINACIO -->
			</div>
			<!-- end RECEPCIÓ MERCADERIA: INSPECCIÓ VISUAL DEL VEHICLE -->


			<!-- RECEPCIÓ MERCADERIA: CONTROL DE LES TEMPERATURES -->
			<div class="card" ng-if="question>=9">
				<div class="item item-divider item-text-wrap topmedicio greencolor">
					<i class="icon ion-thermometer"></i> &nbsp; CONTROL DE LES TEMPERATURES
				</div>

				<!-- TEMPERATURA CAIXA -->
				<div id="temperaturaCaixa" ng-if="question>=9">
					<div class="item item-text-wrap" ng-if="medicio.tecongelats">
						<center>Productes congelats (Temperatura ambiental caixa del vehicle)</center><br/>

						<div class="item range range-positive">
							<i class="icon ion-android-remove"></i>
							<input type="range" min="-40" max="-8" ng-model="medicio.tempcaixa" ng-change="setLastAnswer(9);">
							<i class="icon ion-android-add"></i>
						</div>
					</div>
					<div class="item item-divider topmedicio" ng-if="medicio.tecongelats">
						{{medicio.tempcaixa || -18}} ºC
					</div>
					<div ng-if="medicio.tecongelats && medicio.medicio.tempcaixa<medicio.tempcaixamin || medicio.tecongelats && medicio.tempcaixa>medicio.tempcaixamax">
						
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> ALERTA<br/><br/>
							<b>Rebutjeu la mercaderia.</b> <br/>
							El valor minim hauria de ser de: <b>{{medicio.tempcaixamin}} ºC</b><br/>
							El valor màxim hauria de ser de: <b>{{medicio.tempcaixamax}} ºC</b><br/>
						</div>

						<i ng-init="alertas[7]['tempcaixa']={error: true, title: nomproveidor+': Temperatura de la caixa ambiental del vehicle incorrecta: '+medicio.tempcaixa, msg: 'Rebutjeu la mercaderia', module_id: 7, question: 9}"></i>
					</div>

					<div ng-if="medicio.tempcaixa>=medicio.tempcaixamin && medicio.tempcaixa<=medicio.tempcaixamax && medicio.tecongelats">
						<i ng-init="alertas[7]['tempcaixa']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
					
				</div>
				<!-- END TEMPERATURA CAIXA -->


				<!-- CARNSFRESQUES -->
				<div id="carnesFresques" ng-if="question>=10">
					<div class="item item-text-wrap" ng-if="medicio.tecarn">
						<center>Carns</center><br/>

						<div class="item range range-positive">
							<i class="icon ion-android-remove"></i>
							<input type="range" min="-5" max="9" ng-model="medicio.carnfresca" ng-change="setLastAnswer(10);">
							<i class="icon ion-android-add"></i>
						</div>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.tecarn">
						{{medicio.carnfresca || 3}} ºC
					</div>

					<div ng-if="medicio.tecarn && medicio.carnfresca<medicio.carnfrescamin || medicio.tecarn && medicio.carnfresca>medicio.carnfrescamax">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> ALERTA<br/><br/>
							<b>Rebutjeu la mercaderia.</b><br/>
							El valor minim hauria de ser de: <b>{{medicio.carnfrescamin}} ºC</b><br/>
							El valor màxim hauria de ser de: <b>{{medicio.carnfrescamax}} ºC</b>
						</div>

						<i ng-init="alertas[7]['carnfrescatmp']={error: true, title: nomproveidor+': Carns amb temperatura incorrecta:'+medicio.carnfresca+' ºC', msg: 'Rebutjeu la mercaderia', module_id: 7, question: 10}"></i>
					</div>
					<div ng-if="medicio.tecarn && medicio.carnfresca>medicio.carnfrescamin && medicio.carnfresca<medicio.carnfrescamax">
						<i ng-init="alertas[7]['carnfrescatmp']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END CARNSFRESQUES -->


				<!-- PEIXOSIPESCA -->
				<div id="peixosipesca" ng-if="question>=11">
					<div class="item item-text-wrap" ng-if="medicio.tepeix">
						<center>Peixos i productes de la pesca (amb gel)</center><br/>

						<div class="item range range-positive">
							<i class="icon ion-android-remove"></i>
							<input type="range" min="-3" max="7" ng-model="medicio.peixos" ng-change="setLastAnswer(11);">
							<i class="icon ion-android-add"></i>
						</div>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.tepeix">
						{{medicio.peixos || 3}} ºC
					</div>

					<div ng-if="medicio.tepeix && medicio.peixos<medicio.peixosmin || medicio.tepeix && medicio.peixos>medicio.peixosmax">
						<div class="item item-divider item-assertive topmedicio item-text-wrap">
							<i class="icon ion-alert-circled"></i> ALERTA
							<b>Rebutjeu la mercaderia.</b><br/>
							El valor minim hauria de ser de: <b>{{medicio.peixosmin}} ºC</b><br/>
							El valor màxim hauria de ser de: <b>{{medicio.peixosmax}} ºC</b><br/>
						</div>

						<i ng-init="alertas[7]['peixos']={error: true, title: nomproveidor+': Peixos i productes de la pesca (amb gel) amb temperatura incorrecta:'+medicio.peixos+' ºC', msg: 'Rebutjeu la mercaderia', module_id: 7, question: 11}"></i>
					</div>
					<div ng-if="medicio.tepeix && medicio.peixos>medicio.peixosmin || medicio.tepeix && medicio.peixos<medicio.peixosmax">
						<i ng-init="alertas[7]['peixos']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END PEIXOSIPESCA -->


				<!-- ENVASATS -->
				<div id="envasats" ng-if="question>=12">
					<div class="item item-text-wrap">
						<center>Productes envasats (segons recomanació fabricant)</center><br/>

						<p> Compleix les temperatures del fabricant?</p>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.envasats" checked ng-change="setLastAnswer(12);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div ng-if="medicio.envasats==true">
						<div class="item item-divider topmedicio">
							Si
						</div>
						<i ng-init="alertas[7]['envasats']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>

					<div ng-if="medicio.envasats==false">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> ALERTA<br/><br/>
							<b>Rebutjeu la mercaderia.</b>

						</div>

						<i ng-init="alertas[7]['envasats']={error: true, title: nomproveidor+': Productes envasats (sense seguir recomanació fabricant)', msg: 'Rebutjeu la mercaderia.', module_id: 7, question: 12}"></i>
					</div>
				</div>
				<!-- END ENVASATS -->
			</div>
			<!-- end RECEPCIÓ MERCADERIA: CONTROL DE LES TEMPERATURES -->


			<!-- RECEPCIÓ MERCADERIA: INSPECCIÓ VISUAL DE LA MERCADERIA -->
			<div class="card" ng-if="question>=13">
				<div class="item item-divider item-text-wrap topmedicio greencolor">
					<i class="icon ion-eye"></i> &nbsp; INSPECCIÓ VISUAL DE LA MERCADERIA
				</div>

				<!-- ORGANOLEPTIQUES -->
				<div id="organoleptiques" ng-if="question>=13">
					<div class="item item-text-wrap">
						<center>Característiques organolèptiques alterades?</center><br/>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.organoleptiques" ng-change="setLastAnswer(13);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.organoleptiques==false">
						NO
					</div>

					<div ng-if="medicio.organoleptiques==true">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> SI<br/>
							Rebutjeu la mercaderia afectada
							<i ng-init="alertas[7]['organoleptiques']={error: true, title: nomproveidor+': Característiques organolèptiques alterades.', msg: 'Rebutjeu la mercaderia afectada', module_id: 7, question: 13}"></i>
						</div>
					</div>
					<div ng-if="medicio.organoleptiques==false">
						<i ng-init="alertas[7]['organoleptiques']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END ORGANOLEPTIQUES -->


				<!-- SENSEOVAL -->
				<div id="senseOval" ng-if="question>=14">
					<div class="item item-text-wrap">
						<center>Canals, mitges canals i quarts sense el corresponent segell oval de salubritat?</center><br/>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.senseoval" ng-change="setLastAnswer(14);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.senseoval==false">
						NO
					</div>

					<div ng-if="medicio.senseoval==true">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> SI<br/>
							Rebutjeu la mercaderia afectada
						</div>
						<i ng-init="alertas[7]['senseoval']={error: true, title: nomproveidor+': Canals, mitges canals i quarts sense el corresponent segell oval de salubritat.', msg: 'Rebutjeu la mercaderia afectada', module_id: 7, question: 14}"></i>
					</div>
					<div ng-if="medicio.senseoval==false">
						<i ng-init="alertas[7]['senseoval']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END SENSEOVAL -->


				<!-- MARXANTS -->
				<div id="marxants" ng-if="question>=15">
					<div class="item item-text-wrap" ng-if="medicio.tecarn">
						<center>Peces senceres d'aviram i conill sense els corresponents marxants?</center><br/>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.marxants" ng-change="setLastAnswer(15);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.tecarn && medicio.marxants==false">
						NO
					</div>

					<div ng-if="medicio.tecarn && medicio.marxants==true">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> SI<br/>
							Rebutjeu la mercaderia afectada
						</div>
						<i ng-init="alertas[7]['marxants']={error: true, title: nomproveidor+': Peces senceres d\'aviram i conill sense els corresponents marxants.', msg: 'Rebutjeu la mercaderia afectada', module_id: 7, question: 15}"></i>
					</div>
					<div ng-if="medicio.tecarn && medicio.marxants==false">
						<i ng-init="alertas[7]['marxants']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END MARXANTS -->


				<!-- SENSEETIQUETA -->
				<div id="senseetiqueta" ng-if="question>=16">
					<div class="item item-text-wrap">
						<center>Productes envasats sense etiquetar o amb manca d'informació obligatòria?</center><br/>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.senseetiqueta" ng-change="setLastAnswer(16);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.senseetiqueta==false">
						NO
					</div>

					<div ng-if="medicio.senseetiqueta==true">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> SI<br/>
							Rebutjeu la mercaderia afectada
						</div>
						<i ng-init="alertas[7]['senseetiqueta']={error: true, title: nomproveidor+': Productes envasats sense etiquetar o amb manca d\'informació obligatòria.', msg: 'Rebutjeu la mercaderia afectada', module_id: 7, question: 16}"></i>
					</div>
					<div ng-if="medicio.senseetiqueta==false">
						<i ng-init="alertas[7]['senseetiqueta']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END SENSEETIQUETA -->


				<!-- DEFECTUOSOS -->
				<div id="defectuosos" ng-if="question>=17">
					<div class="item item-text-wrap">
						<center>Envasos/embolcalls bruts, trencats, abonyegats, oxidats... amb afectació de la mercaderia?</center><br/>

						<center>
							<label class="toggle toggle-calm">
								<input type="checkbox" ng-model="medicio.defectuosos" ng-change="setLastAnswer(17);"/>
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</center>
					</div>

					<div class="item item-divider topmedicio" ng-if="medicio.defectuosos==false">
						NO
					</div>

					<div ng-if="medicio.defectuosos==true">
						<div class="item item-divider item-assertive topmedicio">
							<i class="icon ion-alert-circled"></i> SI<br/>
							Rebutjeu la mercaderia afectada
						</div>
						<i ng-init="alertas[7]['defectuosos']={error: true, title: nomproveidor+': Envasos/embolcalls bruts, trencats, abonyegats, oxidats... amb afectació de la mercaderia.', msg: 'Rebutjeu la mercaderia afectada', module_id: 7, question: 17}"></i>
					</div>
					<div ng-if="medicio.defectuosos==false">
						<i ng-init="alertas[7]['defectuosos']={error: false, title: null, msg: null, module_id: 7}"></i>
					</div>
				</div>
				<!-- END DEFECTUOSOS -->
			</div>
			<!-- endRECEPCIÓ MERCADERIA: INSPECCIÓ VISUAL DE LA MERCADERIA -->

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;" ng-if="question>=17 || hayerrores===true">Enviar medició</div>
			<div class="button button-casifull bar-stable" style="margin-bottom:20px;" ng-if="question<17 && hayerrores===false">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 7 RECEPCIÓ MERCADERIA -->


		<!-- SECCIÓ 8 -->
		<div ng-if="laid==8">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">S'ha de garantir que en un temps no superior a les dues hores l’aliment cuinat assoleixi una temperatura igual o inferior als +8ºC. Si us plau, feu el següent control:</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap">
					<center>La temperatura a l’interior de l’aliment és superior a +8ºC?</center><br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.superior" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.superior==false">
					<span >No</span>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.superior==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Reviseu el protocol de refredament.<br/>
						Continueu procés de refredament.
					</span></center>
					<i ng-init="alertas[8]['superior']={error: true, title: 'S\'ha de garantir que en un temps no superior a les dues hores l\’aliment cuinat assoleixi una temperatura igual o inferior als +8ºC', msg: 'Reviseu el protocol de refredament', module_id: 8}"></i>
				</div>
				<div ng-if="medicio.superior==false">
					<i ng-init="alertas[8]['superior']={error: false, title: null, msg: null, module_id: 8}"></i>
				</div>
			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>

		</div>
		<!-- END SECCIÓ 8 -->


		<!-- SECCIÓ 9 -->
		<div ng-if="laid==9">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, completeu les preguntes sobre els aliments envasats al buit. Feu-ho cada vegada que s'envasin aliments al buit.</p>

			<!-- MEDICIO 1 -->
			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-divider">
					<center style="font-weight:normal;">Tipus d'aliment envasat?</center>
				</div>

				<div class="item item-text-wrap">
					<div class="list list-inset" style="margin:0;">
					  <label class="item item-input">
					    <input type="text" ng-model="medicio.tipusaliment" placeholder="Tipus d'aliment" style="border:1px solid #ccc; padding:5px; text-align:center; font-size:105%;">
					  </label>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap">
					<center>Envàs al buit mal realitzat. No garanteix la estanquitat de l’envàs</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.malrealitzat" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.malrealitzat==false">
					<span >No</span>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.malrealitzat==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Tornar a envasar l’aliment
					</span></center>

					<i ng-init="alertas[9]['malrealitzat']={error: true, title: 'Si us plau, completeu les preguntes sobre els aliments envasats al buit. Feu-ho cada vegada que s\'envasin aliments al buit.', msg: 'Tornar a envasar l\’aliment', module_id: 9}"></i>
				</div>
				<div ng-if="medicio.malrealitzat==false">
					<i ng-init="alertas[9]['malrealitzat']={error: false, title: null, msg: null, module_id: 9}"></i>
				</div>
			</div>

			<div class="card">
				<div class="item item-text-wrap">
					<center>L’envàs ha perdut el buit durant el període d’emmagatzematge</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.buitperdut" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.buitperdut==false">
					<span >No</span>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.buitperdut==true">
					<center><i class="icon ion-alert-circled"></i> SI<br/></center><br/>

					<center><span>
						Retirar els aliments del consum si les seves característiques organolèptiques s’han alterat
					</span></center>

					<i ng-init="alertas[9]['buitperdut']={error: true, title: 'L\’envàs ha perdut el buit durant el període d\’emmagatzematge', msg: 'Retirar els aliments del consum si les seves característiques organolèptiques s\’han alterat', module_id: 9}"></i>
				</div>
				<div ng-if="medicio.buitperdut==false">
					<i ng-init="alertas[9]['buitperdut']={error: false, title: null, msg: null, module_id: 9}"></i>
				</div>
			</div>


			<div class="card">
				<div class="item item-text-wrap">
					<center>S'ha marcat la data d'envasat?</center>
					<br/>
					<center>
						<label class="toggle toggle-calm">
							<input type="checkbox" ng-model="medicio.dataenvasat" checked/>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</center>
				</div>

				<div class="item item-divider topmedicio" ng-if="medicio.dataenvasat==true">
					<span>Si</span>
				</div>

				<div class="item item-assertive item-text-wrap topmedicio" ng-if="medicio.dataenvasat==false">
					<center><i class="icon ion-alert-circled"></i> NO<br/></center><br/>

					<center><span>
						Marqueu la data de l'envasat.
					</span></center>

					<i ng-init="alertas[9]['dataenvasat']={error: true, title: 'S\'ha marcat la data d\'envasat?', msg: 'Marqueu la data de l\'envasat.', module_id: 9}"></i>
				</div>
				<div ng-if="medicio.dataenvasat==true">
					<i ng-init="alertas[9]['dataenvasat']={error: false, title: null, msg: null, module_id: 9}"></i>
				</div>
			</div>

			<div class="card">
				<div class="item item-divider">
					<center style="font-weight:normal;">L'aliment es refrigera o es congela?</center>
				</div>

				<div class="item item-text-wrap">
					<div class="list">

					  <label class="item item-radio">
					    <input type="radio" ng-model="medicio.refocong" name="group" value="1">
					    <div class="item-content">
					      Refrigera
					    </div>
					    <i class="radio-icon ion-checkmark"></i>
					  </label>

					  <label class="item item-radio">
					    <input type="radio" ng-model="medicio.refocong" name="group" value="2">
					    <div class="item-content">
					      Congela
					    </div>
					    <i class="radio-icon ion-checkmark"></i>
					  </label>
					</div>
				</div>
			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio();" style="margin-bottom:20px;">Enviar medició</div>
		</div>
		<!-- END SECCIÓ 9 -->


		<!-- SECCIÓ 10 -->
		<div ng-if="laid==10">
			<p class="button-casifull" style="margin-top:20px; margin-bottom:20px;">Si us plau, ompleneu les següents preguntes per tal de fer el control de neteja:</p>

			<div class="card">
				<div class="item item-divider greencolor topmedicio">
					{{diasetmana}} {{dia}} {{mes}}
				</div>
			</div>

			<div class="card">
				<div class="item item-divider topmedicio greencolor">
					<i class="icon ion-waterdrop"></i> &nbsp; ZONA NETEJADA
				</div>

				<div class="item">
					<label class="item item-input item-select">
						<div class="input-label">
							Zona:
						</div>
						<select ng-model="medicio.zona" ng-change="cambiazona();">
							<option selected value="0">Seleccioneu la zona</option>
							<option ng-repeat="zona in zones" value="{{zona.id}}">{{zona.nom}}</option>
						</select>
					</label>
				</div>

				<div class="item item-text-wrap">

			  		<center>Desmarqueu les zones que quedin <b>brutes</b>:</center>

					<ul class="list" ng-repeat="zona in zones" id="subzonas-{{zona.id}}" style="margin:0;">

						<li class="item item-checkbox" ng-repeat="subzona in zona.subzona" style="padding-left:0;" ng-if="medicio.zona==zona.id">

							{{subzona.name}}

							<label class="toggle" style="float:right;">
								<input type="checkbox" checked ng-model="medicio.subzone[subzona.id]" ng-change="cambiasubzona(medicio.subzone[subzona.id]);">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>

							<span ng-init="medicio.subzone[subzona.id]=true;"></span>


							<span ng-if="medicio.subzone[subzona.id]==true">
								<i ng-init="alertas[10][subzona.name+'-'+subzona.id]={error: false, msg: null, module_id: 10}"></i>
							</span>

							<span ng-if="medicio.subzone[subzona.id]==false">
								<i ng-init="alertas[10][subzona.name+'-'+subzona.id]={error: true, msg: 'S\'ha marcat com a bruta a la zona: '+zona.nom+', la subzona: '+subzona.name, module_id: 10}"></i>
							</span>


						</li>

					</ul>

				</div>

			</div>

			<div class="card" ng-if="medicio.estat>0">
				<div class="item item-divider item-assertive item-text-wrap topmedicio">
					<i class="icon ion-alert-circled"></i> ALERTA
					<br/><br/>
					Si us plau, torneu a netejar les zones brutes.
				</div>

			</div>

			<div class="button button-casifull greencolor" ng-click="envia_medicio(false);" style="margin-bottom:20px;">Enviar medició</div>

		</div>
		<!-- END SECCIÓ 10 -->


	</ion-content>
</ion-view>
