<ion-view view-title="" ng-controller="MedicionesCtrl">
	<ion-content>

		<div class="header greencolor innerbar-layflyadema-green">
			<h1>MEDICIONS</h1>
		</div>

		<ion-list>
			<div ng-repeat="grupo in agrupadasArray">
				<ion-item can-swipe="true" ng-click="toggleGroup(grupo[0].date)" ng-class="{active: isGroupShown(grupo[0].date)}" class="item-text-wrap">
					<span class="fly-title-item">
	              		<i class="icon" ng-class="isGroupShown(grupo[0].date) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;
	              		{{grupo[0].date}}
	          		</span>
				</ion-item>
				<ion-item can-swipe="true" class="item-accordion item-text-wrap" ng-repeat="medicion in grupo" ng-show="isGroupShown(medicion.date)" >
					<span class="fly-title-item">
						<strong>{{medicion.module.name}} 

							<span style="color:red; margin-left: 10px;" ng-if="medicion.countAlerts>0">
								{{medicion.countAlerts}} 
								<i class ="icon ion-alert-circled"></i>
							</span>

							<span style="color:green; margin-left: 10px;" ng-if="medicion.countAlerts<1">
								<i class ="icon ion-checkmark-round"></i>
							</span>
						</strong> 
						<span style="float: right; font-size: 13px;">{{medicion.hour}}</span><br />
						<span style="font-size: 10px;">{{medicion.local.name}} ({{medicion.local.address}})</span>
					</span>
				</ion-item>
			</div>
		</ion-list>

	</ion-content>
</ion-view>
