<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-bar class="mainbar-flyadema-global">

      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon negrito" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left" style="background-color:#f2f2f2;">
    <div class="bar-flyadema-innermenu">
      <img src="img/topbar-logo.jpg" style="max-width:55px; margin-left:20px;" />
      <h2>MENÚ</h2>
    </div>
    <div>
      <ion-list class="list-flyadema-menu">
        <ion-item menu-close href="#/app/novamedicio">
          <i class="icon ion-edit"></i>
          &nbsp;
          Afegir medició
        </ion-item>
        <ion-item menu-close href="#/app/medicions">
          <i class="icon ion-paintbucket"></i>
          &nbsp;
          Medicions
        </ion-item>
        <ion-item menu-close href="#/app/incidencies">
          <i class="icon ion-clipboard"></i>
          &nbsp;
          Incidencies
        </ion-item>
        <ion-item menu-close href="#/app/sincronitzar">
          <i class="icon ion-refresh"></i>
          &nbsp;
          Sincornitzar
        </ion-item>
        <ion-item menu-close href="#/app/logout" ng-controller="InicioCtrl" ng-click="doLogout()">
          <i class="icon ion-close-circled"></i>
          &nbsp;
          Tancar Sessió
        </ion-item>
      </ion-list>
    </div>
    <div class="footer-flyadema-innermenu">
      <p>Aplicació realitzada per LAIFLYADEMA ®<br/>
      Tots els drets registrats</p>
    </div>
  </ion-side-menu>
</ion-side-menus>
