<ion-view view-title="">

	<ion-content>
		
		<div class="header greencolor innerbar-layflyadema-green">
			<h1>AFEGIR UNA MEDICIÓ</h1>
		</div>

		<div class="card" style="margin:0 padding:0;" ng-if="config[7]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(7);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>RECEPCIÓ MERCADERIA</strong>
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(7);">
				<div style="col col-100">
					<img src="img/bannermedicio6.jpg" style="width:100%;" />
				</div>
			</div>

		</div>


		<div class="card" style="margin:0 padding:0;" ng-if="config[3]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(3);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>TEMPERATURES DELS EQUIPS</strong> DE FRED
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(3);">
				<div style="col col-100">
					<img src="img/bannermedicio9.jpg" style="width:100%;" />
				</div>
			</div>

		</div>

		<div class="card" style="margin:0 padding:0;" ng-if="config[10]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(10);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>NETEJA
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(10);">
				<div style="col col-100">
					<img src="img/bannermedicio10.jpg" style="width:100%;" />
				</div>
			</div>

		</div>

		<div class="card" style="margin:0 padding:0;" ng-if="config[4]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(4);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL CRITERIS <strong>EMMAGATZEMATGE ALIMENTS</strong> DINS DELS EQUIPS DE FRED
					</span>
			</div>


			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(4);">
				<div style="col col-100">
					<img src="img/bannermedicio3.jpg" style="width:100%;" />
				</div>
			</div>

		</div>


		<div class="card" style="margin:0 padding:0;" ng-if="config[1]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(1);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>CLOR RESIDUAL AIGUA</strong> DE CONSUM
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(1);">
				<div style="col col-100">
					<img src="img/bannermedicio1.jpg" style="width:100%;" />
				</div>
			</div>

		</div>



		<div class="card" style="margin:0 padding:0;" ng-if="config[2]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(2);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL DE LA <strong>NETEJA I DESINFECCIÓ</strong> DE LA <strong>FRUITA I VERDURA</strong> DE CONSUM EN CRU
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(2);">
				<div style="col col-100">
					<img src="img/bannermedicio2.jpg" style="width:100%; margin:0; padding:0;" />
				</div>
			</div>

		</div>


		<div class="card" style="margin:0 padding:0;" ng-if="config[5]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(5);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>OLI DE LES FREGIDORES</strong>
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(5);">
				<div style="col col-100">
					<img src="img/bannermedicio4.jpg" style="width:100%;" />
				</div>
			</div>

		</div>


		<div class="card" style="margin:0 padding:0;" ng-if="config[6]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(6);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL DE LA <strong>TEMPERATURA D'ESBANDIT</strong> DE L'EQUIP DE RENTAPLATS
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(6);">
				<div style="col col-100">
					<img src="img/bannermedicio5.jpg" style="width:100%;" />
				</div>
			</div>

		</div>


		<div class="card" style="margin:0 padding:0;" ng-if="config[9]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(9);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>ENVASAMENT AL BUIT</strong>
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(9);">
				<div style="col col-100">
					<img src="img/bannermedicio8.jpg" style="width:100%;" />
				</div>
			</div>

		</div>

		<div class="card" style="margin:0 padding:0;" ng-if="config[8]==true">

			<div class="item item-divider topmedicio item-text-wrap" ng-click="afegeix(8);">
					<span class="normaltext" style="font-size:80%; font-weight:normal;">
						CONTROL <strong>REFREDAMENT DE PLATS PREPARATS</strong>
					</span>
			</div>

			<div class="row" style="margin:0; padding:0;" ng-click="afegeix(8);">
				<div style="col col-100">
					<img src="img/bannermedicio7.jpg" style="width:100%;" />
				</div>
			</div>

		</div>




	</ion-content>
</ion-view>
