<ion-view view-title="" ng-controller="SinzronitzaCtrl">
	<ion-content>
		<div class="header greencolor innerbar-layflyadema-green">
			<h1>SINCRONITZAR</h1>
		</div>
		<div class="row">
			<div style="width:10%;"></div>
			<div style="width:80%;">
				<p class="normaltext" style="margin-top:30px; text-align:center;">
					Feu click al següent botó per tal de sincronitzar l'aplicació amb el servidor.<br/><br/>
					Aquesta asincronía us permet recollir dades sense necessitat de tenir conexió.<br/><br/>
					Tant bon punt tingueu conexió 3g/4g o WiFi, sincronitzeu les dades per a tenir-ho tot al núbol.
				</p>

				<div class="button button-block greencolor" style="margin-top:20px;" ng-click="sincro();">SINCRONITZAR &nbsp; <i class="icon ion-refresh"></i>
			</div>
			<div style="width:10%;"></div>
		</div>
	</ion-content>
</ion-view>
