/* Empty. Add your own CSS if you like */


.input-login{
	color:#cccccc !important;
	border: 1px solid #cccccc !important;
	text-align:center;
	padding-top:5px;
	padding-bottom: 5px;
	margin:0;
	width:100% !important;
	border-radius:0 !important;
	-webkit-appearance: none;
}

.greencolor{
	background:#89bb24 !important;
	color:white !important;
}

.innerbar-layflyadema-green{
	background:#89bb24 !important;
	color:white !important;
	padding-top:10px;
	padding-bottom:10px;
}

.normaltext{
	font-size:100%;
	color:#454545;
}

.innerbar-layflyadema-green h1{
	color:#fff;
	font-size:140%;
	text-align:center;
}

.bar-flyadema-innermenu{
	background-color:#e9e9e9 !important;
	height:130px !important;
	padding-top:10px;
}

.bar-flyadema-innermenu h2{
	font-size:150%;
	color:#464646;
	padding-left:20px;
	width:100%;
	margin-top:0 !important;
}

.footer-flyadema-innermenu{
	position:absolute;
	bottom:10px;
}

.footer-flyadema-innermenu p{
	color:#7c7c7c;
	font-size:80%;
	padding-right:20px;
	padding-left:20px;
	line-height:120%;
}

.mainbar-flyadema-global{
	background-color:#e9e9e9 !important;
	background:#e9e9e9 url(../img/topbar-logo.jpg) top center no-repeat !important;
	background-size:34px 45px !important;
}

.negrito{
	color:#000 !important;
}

.list-flyadema-menu .list .item,.list-flyadema-menu .list .item-complex a{
	background-color: #ededed !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}

.textcenter{
	text-align:center !important;
}

.smalltitle{
	font-size:70% !important;
}

.topmedicio{
	text-align:center;
	font-size:120%;
	font-weight:bold;
}

.button-casifull{
	width:96%;
	margin-left:2%;
}