<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('Edit Medicion'), ['action' => 'edit', $medicion->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Medicion'), ['action' => 'delete', $medicion->id], ['confirm' => __('Are you sure you want to delete # {0}?', $medicion->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Medicion'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Medicion'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?> </li>
    </ul>
</div>
<div class="medicion view large-10 medium-9 columns">
    <h2><?= h($medicion->id) ?></h2>
    <div class="row">
        <div class="large-5 columns strings">
            <h6 class="subheader"><?= __('User') ?></h6>
            <p><?= $medicion->has('user') ? $this->Html->link($medicion->user->id, ['controller' => 'Users', 'action' => 'view', $medicion->user->id]) : '' ?></p>
        </div>
        <div class="large-2 columns numbers end">
            <h6 class="subheader"><?= __('Id') ?></h6>
            <p><?= $this->Number->format($medicion->id) ?></p>
            <h6 class="subheader"><?= __('Local Id') ?></h6>
            <p><?= $this->Number->format($medicion->local_id) ?></p>
            <h6 class="subheader"><?= __('Module Id') ?></h6>
            <p><?= $this->Number->format($medicion->module_id) ?></p>
        </div>
        <div class="large-2 columns dates end">
            <h6 class="subheader"><?= __('Date') ?></h6>
            <p><?= h($medicion->date) ?></p>
            <h6 class="subheader"><?= __('Hour') ?></h6>
            <p><?= h($medicion->hour) ?></p>
            <h6 class="subheader"><?= __('Created') ?></h6>
            <p><?= h($medicion->created) ?></p>
            <h6 class="subheader"><?= __('Modified') ?></h6>
            <p><?= h($medicion->modified) ?></p>
        </div>
    </div>
    <div class="row texts">
        <div class="columns large-9">
            <h6 class="subheader"><?= __('Data') ?></h6>
            <?= $this->Text->autoParagraph(h($medicion->data)) ?>
        </div>
    </div>
</div>
