<table style="width: 100%; background-color: #e8e8e8;">
    <tr>
        <td>
            <img style="padding-left: 20px;" width="48" src="<?php echo $this->request->webroot; ?>img/topbar-logo.jpg" />
        </td>
        <td aling="right" style="text-align: right; padding-right: 10px;">
           <h3 style="font-size: 13px;">Recopilación automática de medicions</h3>
        </td>
    </tr>
</table>


<?php echo $this->fetch('content') ?>
